<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcS4tVXEsYY6FmKzt_Mn4ypkpNfoGeE2A</string>
	<key>GCM_SENDER_ID</key>
	<string>651397958438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakakiki.com.unity.cubic.run</string>
	<key>PROJECT_ID</key>
	<string>cubic-run-sakakiki</string>
	<key>STORAGE_BUCKET</key>
	<string>cubic-run-sakakiki.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651397958438:ios:4b78cc0987189135da4fe7</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3396760301690878~9881752072</string>
</dict>
</plist>